@media (min-width: 481px) {

  .chatTubeHeader {
    width: 100%;
    height: 75px;
    align-items: center;
    display: flex;
    order:0;
  }

  .chatTubeHeader::after {
    position: absolute;
    margin-top: 5rem;
    content: "";
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background-color: #777777;
    display: block;
  }

  .chatTubeHeader h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding-top: 10px;
    padding-left: 30px;
    width: 100%;
  }

  .chatTubeHeader span {
    font-size: 1rem;
  }

  .rightSideButtons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 3vw;
  }

  .searchArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 125%;
  }

  .searchArea input {
    width: 100%;
    height: 40%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: medium;
    border-radius: 20px;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color:#616161;
    color: white;
  }

  .searchResults {
    position: absolute;
    top: 7.5%;
    z-index: 1;
    width: 20%;
    max-height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(40, 40, 40)
  }

  .loginSignUpButtons {
    display: flex;
    gap: 25px;
  }

  .loggedInText {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }

  .loggedInText p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: medium;
  }

  .loggedInText img {
    width: 3rem;
    margin-left: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .loggedInText img:hover {
    cursor: pointer;
  }

  .rightSideIcon {
    width: 35px;
    height: 35px;
    animation: scaleDown 0.1s forwards;
  }

  .rightSideIcon:hover {
    cursor: pointer;
    animation: scaleUp 0.1s forwards;
  }

  .rightSideButtons button:hover {
    cursor: pointer;
    animation: scaleUp 0.1s forwards;
  }

  .loginButton {
    width: 75px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background-color: rgb(96, 100, 101);
    border: 0;
    border-radius: 5px;
    color: white;
    animation: scaleDown 0.1s forwards;
  }

  .characterSearch {
    width: 90%;
    align-items: center;
    padding-left: 1rem;
    display: flex;
    gap: 40px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    animation: scaleDown 0.1s forwards;
  }

  .characterSearch:hover {
    cursor: pointer;
    animation: scaleUp 0.1s forwards;
  }

  .searchImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }

  .signUpButton {
    width: 75px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background-color: rgb(36, 115, 174);
    border: 0;
    border-radius: 5px;
    color: white;
    animation: scaleDown 0.1s forwards;
  }
}